.coordinate-lookup-Container {
    display: flex;
    flex-direction: column;
}

.location-input {
    flex-direction: row;
    justify-content: center;
}

.result-list {
    list-style: none;
    padding: 8px;
    position: absolute;
    height: 128px;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
}

.coordinate-result-row {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.87);
    padding: 8px;
    min-height: 24px;
}

.coordinate-result-item {
    flex: 1
}