.coordinate-lookup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.location-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.result-list-display {
    list-style: none;
    padding: 0px;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}

.result-list-hide {
    display: none;
}

.coordinate-result-row {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.87);
    padding: 8px;
    min-height: 24px;
}

.coordinate-result-item {
    flex: 1
}